h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}


h6 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: justify;
    padding: 5px;
    margin-left: 30px;
}



p {
    color: white;
    text-align: center;
    padding: 5px;
    margin-left: 30px;
}


img {
    padding: 10px;
    margin-left: 40px;
}