h1 {
    font-family: 'Special Elite', cursive;
    color:green;
    text-align: center;
    font-size: 80px;
    text-shadow: 0px 2px 2px white;
}

h3, h4, h6 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 25px;
    text-shadow: 5px 5px 5px rebeccapurple;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin-left: 30px;
    line-height: 1.55;
    text-shadow: 5px 5px 5px rebeccapurple;
}


img {
    margin-left: 150px;
    border-style: solid;
    background-color: white;
    border-color: grey;
    border-width: 2px;
}



