h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}


h6 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    text-align: left;
    padding: 5px;
    margin-left: 10px;
}

#compNumber {
    color: white;
    font-size: 25px;
}

.Computer {
    color: white;
    font-size: 25px;
}


p {
    color: white;
    text-align: center;
    padding: 5px;
    margin-left: 30px;
}

.total {
    color: white;
    text-align: left;
    line-height: 40px;
    margin-left: 100px;
}

/* div {
    background-color: crimson;
    width: 120px;
    height: 100px;
} */


img {
    float: left;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    border-style: solid;
    background-color: white;
    border-color: grey;
    border-width: 2px;
}